<div class="row-fluid">
    <div class="span6">
        <form class="form-inline" role="form" data-ng-submit="create()">
            <div class="form-group">
                <input type="text" data-ng-model="object.name" class="form-control" id="name" autofocus="autofocus" value="{{object.name}}">
            </div>
        </form>
    </div>

    <div class="span6">
        <select class="pull-right" ng-model="data.selectedType">
            <option data-ng-repeat="type in data.types">{{type.name}}</option>
        </select>
    </div>
</div>



<table class="table table-condensed">
    <tr>
        <th style="width: 30%">Name</th>
        <th style="width: 30%">Type</th>
        <th>Fields</th>
        <th>Views</th>
    </tr>
    <tr ng-repeat="object in data.objects| filter:data.selectedType">
        <td>
            <a data-ng-href="#/objects/{{object._id}}/edit">{{object.name}}</a>
        </td>
        <td>{{object.type}}</td>
        <td><span class="badge">{{object.fields.length}}</span>     </td>
        <td><span class="badge">{{object.views.length}}</span>     </td>
    </tr>
</table>



