<div class="row-fluid">
    <div class="span12">
        <span>
        <button type="button" data-ng-click="openCreateListModal()" class="btn btn-default"><i class="fa fa-plus"></i> New</button>
        </span>
        <p></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-condensed">
            <!-- Set the Title Rows-->
            <tr>
                <th data-ng-repeat="field in viewFields">{{field.name}}</th>
            </tr>
            <!--Print out the Data -->
            <tr ng-repeat="listItem in listInstances" data-ng-init="rowIndex = $index">
                <td data-ng-repeat="field in viewFields" data-ng-init="columnIndex = $index">
                    <div ng-switch on="field.type">
                        <a data-ng-show="columnIndex==0" ng-click="openCreateListModal(listItem)">
                            <span data-ng-switch-when="Date" am-time-ago="listItem[field.name]"></span>
                            <span data-ng-switch-when="Text">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="Note">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="User">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="list">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="Yes or No">{{listItem[field.name]}}</span>
                        </a>
                        <span data-ng-show="columnIndex!=0">
                            <span data-ng-switch-when="Date" am-time-ago="listItem[field.name]"></span>
                            <span data-ng-switch-when="Text">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="Note">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="User">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="list">{{listItem[field.name]}}</span>
                            <span data-ng-switch-when="Yes or No">{{listItem[field.name]}}</span>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-switch on="formItem.type">
    <label class="control-label">{{formItem.name}}</label>
    <textarea rows="3" ng-switch-when="Note" data-ng-model="formItem.content"></textarea>
    <input type="text" ng-switch-when="Text" data-ng-model="formItem.content">
    <input type="text" ng-switch-when="User" data-ng-model="formItem.content">
    <input type="text" ng-switch-when="Tag" data-ng-model="formItem.content"  typeahead="type for type in bannertypes | filter:$viewValue | limitTo:8">
    <input type="text" class="input-small" placeholder="When" datepicker-popup="dd-MM-yy" show-weeks="0" datepicker-options="dateOptions" ng-switch-when="Date" data-ng-model="formItem.content">
    <input type="number" ng-switch-when="Number" data-ng-model="formItem.content">
    <select ng-switch-when="list" data-ng-model="formItem.content" ng-options="option for option in formItem.options"/>
    <input type="checkbox" ng-switch-when="Yes or No" data-ng-model="formItem.content">
</div>