<div class="modal-header">
    <h3>Create New Project</h3>
</div>
<div class="modal-body">
    <form>
        <fieldset>
            <!--<legend>Enter Data</legend>-->
            <div ng-repeat="formItem in items">
                <div ng-switch on="formItem.type">
                    <label class="control-label">{{formItem.name}}</label>
                    <textarea rows="3" ng-switch-when="Note" data-ng-model="formItem.content"></textarea>
                    <input type="text" ng-switch-when="Text" data-ng-model="formItem.content">
                    <input type="text" ng-switch-when="User" data-ng-model="formItem.content">
                    <input type="text" class="input-small" placeholder="When" datepicker-popup="dd-MM-yy" show-weeks="0" datepicker-options="dateOptions" ng-switch-when="Date" data-ng-model="formItem.content">
                    <input type="number" ng-switch-when="Number" data-ng-model="formItem.content">
                    <select ng-switch-when="list" data-ng-model="formItem.content" ng-options="option for option in formItem.options"/>
                    <input type="checkbox" ng-switch-when="Yes or No" data-ng-model="formItem.content">
                </div>
            </div>
        </fieldset>
        <!--<button data-ng-click="saveFormDetails(formItems)">Save</button>-->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

        