<div data-ng-init="findOne()"></div>

<div class="row-fluid">
    <div class="span6">
     <h3>{{object.name}}</h3>
    </div>
    <div class="span6">
        <div class="dropdown pull-right">
            <button type="button" class="btn dropdown-toggle">Copy</button>
            <ul class="dropdown-menu">
                <li ng-repeat="copyobject in data.objects">
                    <a data-ng-click="copySelectedObject(copyobject);focusInput=true">{{copyobject.name}}</a>
                </li>
            </ul>
        </div>
        <a href="#/objects/{{object._id}}/views" class="btn pull-right">Views</a>
    </div>
</div>

<div class="col-md-12" data-ng-init="focusInput=true">
    <!--<button class="btn" >show form and focus input</button>-->
    <table class="table">
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 25%">Type</th>
            <th style="width: 15%">Required</th>
            <th style="width: 15%">Length</th>
            <th style="width: 15%">
                <div class="pull-right">
                    Action
                </div>
            </th>
        </tr>
        <!--Input new fields-->
        <tr>
            <td>
                <input type="text" required data-ng-model="newfield.name" class="form-control pull-left"  id="newfieldname" focus-me="focusInput" >
            </td>
            <td>
                <select required class="pull-left" ng-model="newfield.type">
                    <option data-ng-repeat="fieldtype in data.fieldtypes">{{fieldtype.name}}</option>
                </select>
            </td>
            <td>
                <select required class="pull-left" ng-model="newfield.req">
                    <option selected>n</option>
                    <option>y</option>
                </select>
            </td>
            <td>
                <input type="text" data-ng-model="newfield.length" class="form-control" id="newfieldlength" >
            </td>
            <td>
                <button type="button" class="btn btn-small pull-right" data-ng-click="addField(newfield);focusInput=true"><i class="icon-black icon-circle-arrow-down"></i> Add</button>
            </td>
        </tr>
        <tr data-ng-repeat="column in object.fields" data-ng-model="object.fields">
            <td><a data-ng-href="#!/fields/{{column._id}}">{{column.name}}</a></td>
            <td>{{column.type}}</td>
            <td class="" data-ng-show="column.req == 'y'">{{column.req}}</td>
            <td data-ng-show="column.req == 'n'"></td>
            <td>{{column.length}}</td>
            <td><button type="button"  class="btn btn-small pull-right" data-ng-click="removeField(column)"><i class="icon-black icon-trash"></i> Delete</button></td>
        </tr>
    </table>
</div>





