<div data-ng-init="viewPage()"></div>
<h3> {{object.name}} Views</h3>
<div class="row-fluid">

    <div class="span2">

        <h5>Available Fields</h5>

        <ul data-ng-update = "updateCreateView()" class="unstyled" ui-sortable="sortableOptions" ng-model="createview">
            <li ng-repeat="field in object.fields">{{ item }}<span class="pull-right" data-ng-click="addFieldToViews(field)"><i class="icon-gray icon-arrow-right"></i></span>{{field.name}}</td></li>
        </ul>

        <!--<tr data-ng-repeat="field in object.fields" data-ng-model="object.fields">-->
                <!--<td><span class="pull-right" data-ng-click="addFieldToViews(field)"><i class="icon-gray icon-arrow-right"></i></span>{{field.name}}</td>-->
            <!--</tr>-->
    </div>

    <div class="span2">
        <h5>Create</h5>
        <ul data-ng-update = "updateCreateView()" class="unstyled" ui-sortable="sortableOptions" ng-model="createview">
            <li ng-repeat="item in createview">{{ item }}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(item,'0')"></i></span></li>
        </ul>
    </div>
    <div class="span2">
        <h5>Edit</h5>
        <ul data-ng-update = "updateEditView()" class="unstyled" ui-sortable="sortableOptions" ng-model="editview">
            <li ng-repeat="item in editview">{{ item }}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(item,'1')"></i></span></li>
        </ul>
    </div>
    <div class="span2">
        <h5>Show</h5>
        <ul data-ng-update = "updateShowView()" class="unstyled" ui-sortable="sortableOptions" ng-model="showview">
            <li ng-repeat="item in showview">{{ item }}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(item,'2')"></i></span></li>
        </ul>
    </div>
    <div class="span2">
        <h5>Dashboard</h5>
        <ul data-ng-update = "updateDashboardView()" class="unstyled" ui-sortable="sortableOptions" ng-model="dashboardview">
            <li ng-repeat="item in dashboardview">{{ item }}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(item,'3')"></i></span></li>
        </ul>
    </div>
    <div class="span2">
        <h5>List</h5>
        <ul data-ng-update = "updateListView()" class="unstyled" ui-sortable="sortableOptions" ng-model="listview">
            <li ng-repeat="item in listview">{{ item }}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(item,'4')"></i></span></li>
        </ul>
    </div>




</div>




