<div data-ng-init="viewPage()"></div>
<h3> {{object.name}} Views</h3>
<div class="row-fluid">

    <div class="span2">
        <table class="table">
            <tr>
                <th style="width: 20%">Fields</th>
            </tr>
            <tr data-ng-repeat="field in object.fields" data-ng-model="object.fields">
                <td draggable='field'><span class="pull-left"><i class="icon-gray icon-align-justify"></i></span>{{field.name}}</td>
            </tr>
        </table>
    </div>

    <div class="span2">

        <table class="table">
            <tr>
                <th style="width: 20%">Create</th>
                <!--<th style="width: 20%">Edit</th>-->
            <tr data-ng-repeat="field in object.views[0].fields" data-ng-model="object.createview.fields">
                <td>{{field.name}}<span class="pull-right"><i class="icon-black icon-remove-sign"  data-ng-click="removeViewField(field,'0')"></i></span></td>
            </tr>
        </table>
    </div>

    <div class="span2">

        <table class="table">
            <tr>
                <th style="width: 20%">Edit</th>
                <!--<th style="width: 20%">Edit</th>-->
            <tr data-ng-repeat="field in object.views[1].fields" data-ng-model="object.editview.fields">
                <td>{{field.name}}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(field,'1')"></i></span></td>
            </tr>
        </table>
    </div>


    <div class="span2">

        <table class="table">
            <tr>
                <th style="width: 20%">Show</th>
                <!--<th style="width: 20%">Edit</th>-->
            <tr data-ng-repeat="field in object.views[2].fields" data-ng-model="object.showview.fields">
                <td>{{field.name}}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(field,'2')"></i></span></td>
            </tr>
        </table>
    </div>


    <div class="span2">

        <table class="table">
            <tr>
                <th style="width: 20%">Dashboard</th>
                <!--<th style="width: 20%">Edit</th>-->
            <tr data-ng-repeat="field in object.views[3].fields" data-ng-model="object.compactview.fields">
                <td>{{field.name}}<span class="pull-right"><i class="icon-black icon-remove-sign" data-ng-click="removeViewField(field,'3')"></i></span></td>
            </tr>
        </table>
    </div>


</div>




