<div data-ng-init="findOne()"></div>
<h4>{{ project.Title }}</h4>

<div class="row-fluid">

    <div class="span4">
        <h5>News</h5>
        <form class="form-inline">
            <input type="text" class="input-xlarge" placeholder="News" data-ng-model="news.item">
            <button type="submit" data-ng-click="AddNewsItem(news)" data-ng-show="news.item"class="btn btn-small">Post</button>
        </form>
        <ul class="unstyled">
            <li ng-repeat="news in project.news">{{ news }}</li>
        </ul>
    </div>

    <div class="span4">

        <h5>Tasks</h5>
        <form class="form-inline">
            <input type="text" class="input-large" placeholder="Task" data-ng-model="task.name">
            <input type="text" class="input-small" placeholder="When" data-ng-model="task.date">
            <input type="text" class="input-mini" placeholder="Who" data-ng-model="task.who">
            <button type="submit" data-ng-click="AddTask(task)" class="btn btn-small pull-right">Add</button>
        </form>
        <ul class="unstyled" >
            <li ng-repeat="task in project.tasks">{{ task.name }}</li>
        </ul>

    </div>

    <div class="span4">

        <h5>Files</h5>

    </div>

</div>

